.rbc-events-container {
  display: grid;
  grid-template-rows: repeat(24, 40px);
}

.rbc-day-slot .rbc-background-event {
  align-items: center;

  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.rbc-day-slot .rbc-event {
  align-items: center;
  background-color: #E1E0FF;
  color: black;
}